@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color: rgba(24, 24, 24, 0.859);

    font-size: 1rem;
}
.zurag{
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.card{
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color: rgba(196, 196, 199, 0.09);
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.title{
    margin-top: 30px;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 20px;
}
.mainButton{
    margin-top: 30px;
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.mainButton:hover{
    background-color: white;
    border: 1px solid black;
   border-radius: 5px;
   color: black;   
}
.navbar{
    width: 100%;
    height:50px;
    background-color: rgba(49, 49, 49, 0.697);
    backdrop-filter: blur(10px);
    position: fixed;
   top: 0;
   background-attachment:scroll;
   z-index: 100;
}
.yum2{
    list-style-type: none;
    display: flex;
    text-indent: 50px;
    text-decoration: none;
    color: white;
   
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
  }
.zurag2{
    width: 40px;
    height: 40px;

}
.half{
    width: 1000px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.order{
    margin-top: 50px;
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.mainZurag{
    width: 350px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid black;

}
.half1{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.full{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.seat{
    height: 22px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(71, 71, 71);
    margin-left: 20px;
    margin-top: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
   
}
.top{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    padding: 50px;
}
.bottom{
   padding-top: 50px;
    height: 60px;
    width: 10%;
    margin: auto;
    display: flex;
    width: 500px;
    margin: auto;
    justify-content: space-around;
    padding: 100px;
}
.sameButton{
    width: 100px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sameButton:hover{
    background-color: white;
    color: black;
}
.textColor{
    color: rgba(209, 209, 209, 0.853);
}
/* ticket */
.fullTicket{
    margin-top: 30px;
}
.ticket{
    
    width: 800px;
    height: 500px;
    position: relative;
  
}
.subNavbar{
    width: 100%;
    height: 60px;
    background-color: rgba(44, 44, 44, 0.54);
    margin: auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.ticketBackground{
    border-radius: 10px;
    width:95%;
    height: 95%;
    filter:  blur(1px) grayscale(.8);
   
}
.imageClass{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;

}
.secondTicket{
    width: 100%;
    height: 400px;
    background-color: aliceblue;
    border-radius:10px;
}